<div>
  event-list works!
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          name
        </th>
        <th>
          options
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events; index as i">
        <td>{{i + 1}}</td>
        <td>{{event.name}}</td>
        <td>
          <a [routerLink]="['/events', event.id]">
            <span class="manage-icon">
              <fa-icon [icon]="faBook"></fa-icon>
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
