<ng-template [ngIf]="event">
  <div class="row">
    <div class="col-md-12">
      <app-event-add-artist (onAdd)="addArtist($event)" [existArtists]="existArtists"></app-event-add-artist>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Note</th>
          <th>Manage</th>
        </thead>
        <tbody>
          <tr *ngFor="let ea of eventArtists; index as i">
            <td>{{i + 1}}</td>
            <td>{{ea.name}}</td>
            <td>{{ea.note}}</td>
            <td>
              <span class="btnTxt" (click)="deleteArtist(ea.artistId)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="save()">Save</button>
    </div>
  </div>
</ng-template>