<app-layout>
  <ng-template [ngIf]="event">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ event.name }}</h1>
        </div>
      </div>
      <ngb-tabset type="pills">
        <ngb-tab title="Overview">
          <ng-template ngbTabContent>
            <app-event-page-detail [event]="event" (onUpdated)="getEvent()"></app-event-page-detail>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Artists">
          <ng-template ngbTabContent>
            <app-event-page-artists [event]="event"></app-event-page-artists>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Zone">
          <ng-template ngbTabContent>
            <app-event-page-zone [event]="event" (updated)="getEvent()"></app-event-page-zone>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Danger">
          <ng-template ngbTabContent>
            <app-event-page-danger [event]="event"></app-event-page-danger>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </ng-template>
</app-layout>
