<ng-template [ngIf]="event">
  <div class="row">
    <div class="col-md-10">
      <form #f="ngForm" (ngSubmit)="$event.preventDefault()">
        <!-- <div class="row" *ngIf="coverUrl">
          <div class="cover">
            <img class="cover-img" [src]="coverUrl" />
          </div>
        </div> -->
        <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label">cover</label>
          <div class="col-sm-5">
            <input
              type="file"
              class="form-control-file"
              #imageInput
              accept="image/*"
              (change)="uploadCover(imageInput)"
            />
          </div>
          <div class="col-sm-5">
            <button
              class="btn btn-info"
              type="button"
              (click)="onClickUpload()"
            >
              Upload
            </button>
          </div>
        </div> -->
        <div class="row">
          <app-img-uploader [imgSrc]="coverSrc" (uploadImg)="onUploadCover($event)"></app-img-uploader>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="updateEventForm.name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">description</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="description"
              [(ngModel)]="updateEventForm.description"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">location</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="location"
              [(ngModel)]="updateEventForm.location"
            />
          </div>
        </div>

        <!-- Perform Time -->
        <app-edit-perform-time [performDateTimes]="updateEventForm.performDateTimeList"></app-edit-perform-time>

        <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label d-flex align-items-center"
            >Perform Time</label
          >
          <div class="col-md-4 d-flex align-items-center">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="date"
                [(ngModel)]="performDate"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-center">
            <ngb-timepicker
              name="time"
              [(ngModel)]="performTime"
            ></ngb-timepicker>
          </div>
        </div> -->
        <!-- Ticket Time -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label d-flex align-items-center"
            >Ticket Start</label
          >
          <div class="col-md-4 d-flex align-items-center">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="ticketStartDate"
                [(ngModel)]="ticketStartDate"
                ngbDatepicker
                #d2="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d2.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-center">
            <ngb-timepicker
              name="ticketStartTime"
              [(ngModel)]="ticketStartTime"
            ></ngb-timepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label d-flex align-items-center"
            >Ticket End</label
          >
          <div class="col-md-4 d-flex align-items-center">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="ticketEndDate"
                [(ngModel)]="ticketEndDate"
                ngbDatepicker
                #d3="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d3.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 d-flex align-items-center">
            <ngb-timepicker
              name="ticketEndTime"
              [(ngModel)]="ticketEndTime"
            ></ngb-timepicker>
          </div>
        </div>

        <!-- Tick selling -->
        <app-edit-ticket-selling></app-edit-ticket-selling>

        <!-- Submit -->
        <button class="btn btn-primary panel-btn" type="submit" (click)="updateEvent(f)">Save</button>
        <span *ngIf="isSaveSuccess">Saved Successfully</span>
        <span *ngIf="errorMsg">{{ errorMsg }}</span>
      </form>
    </div>
  </div>
</ng-template>
